*.unityproj
*.sln
*.userprefs
*.exe
*.xml
*.apk
*.unitypackage
*.feature.cs
*.dll
*.png
*.png.meta
Temp
obj
Library
/Moore/Assets/Sprite
/Moore/Assets/Sprite.meta
/Moore/Assets/UnityTestTools
/Moore/Assets/UnityTestTools.meta
/Moore/Assets/Translations
/Moore/Assets/Translations.meta
/Moore/Assets/Addons
/Moore/Assets/Addons.meta
/Moore/Assembly-CSharp-Editor.csproj
/Moore/Assembly-CSharp-Editor-vs.csproj
/Moore/Assembly-CSharp-vs.csproj
/Moore/Assembly-CSharp.csproj
/Moore.Specs/TestResult.html
/Moore.Specs/TestResult.xml
/Moore.Specs/bin
/Moore.Specs/obj
/Moore.Specs/packages
/Moore.Specs/Assets/TestCases
/Moore.Specs/Assets/SceneConfig
/Moore.Specs/Moore.Specs.v12.suo
/Moore.UnitTests/bin
/Moore.UnitTests/obj
/Moore.UnitTests/TestResult.html
/Moore.UnitTests/TestResult.xml
/Moore/Assets/Bundles
/Moore.LaxTestRunner/obj
/support

# build folder
/build

# project folder
/Moore/Assets/projects
/Moore/Assembly-CSharp-firstpass-vs.csproj
/Moore/Moore-csharp.v12.suo
/Moore/Moore.CSharp.Editor.csproj
/Moore/Moore.CSharp.csproj
/Moore/Moore.v12.suo
/Moore/player_win_x64.pdb
/Moore/player_win_x64_s.pdb
/Moore/Assembly-CSharp-firstpass.csproj
/Moore/lines_color.csv
/Moore/.vs/Moore/v14/.suo
/Moore/Assets/StreamingAssets

/Moore/Assets/3rdParties/Switch/Editor/Gizmos.meta
/Moore/Assets/3rdParties/UniWebView2/Plugins/Android/AndroidManifest.xml.meta
/Moore/Assets/3rdParties/UniWebView2/Plugins/UniWebViewWP.dll.meta
/Moore/Assets/3rdParties/UniWebView2/Plugins/WP8.meta
/Moore/Assets/3rdParties/UniWebView2/Plugins/WP8/UniWebViewWP.dll.meta
/Moore/Assets/EasyMovieTexture.meta
/Moore/Assets/EasyMovieTexture/Scripts.meta
/Moore/Assets/GameConfig/File.meta
/Moore/Assets/GameEngineData/Textures/lobby.meta
/Moore/Assets/StreamingAssets.meta
/Moore.Specs/.vs/Moore.Specs/v14/.suo
/Moore.Specs/Moore.LaxTestRunner.exe.config
/Moore.Specs/Moore.LaxTestRunner.pdb
/Moore.Specs/Moore.pdb
/Moore.Specs/packages.config
/Moore/Moore.CSharp.Plugins.csproj
